.hidden {
    display: none !important;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.text-100 {
    font-weight: 100;
}
.text-200 {
    font-weight: 200;
}
.text-300 {
    font-weight: 300;
}
.text-400 {
    font-weight: 400;
}
.text-500 {
    font-weight: 500;
}
.text-600 {
    font-weight: 600;
}
.text-700 {
    font-weight: 700;
}
.text-800 {
    font-weight: 800;
}
.text-900 {
    font-weight: 900;
}
