.glass-card {
    @include glassmorph();
    border-radius: var(--border-radius);
    padding: 1rem 1.5rem;
    border: 1px solid var(--surface-border);
    box-shadow: var(--box-shadow) 0px 7px 29px 0px;
}

.card {
    background-color: var(--surface-card);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--surface-border);
    box-shadow: var(--box-shadow) 0px 7px 29px 0px;
    transition: box-shadow 0.2s ease;

    &:last-child {
        margin-bottom: 1rem;
    }

    &:hover {
        box-shadow: var(--box-shadow-a) 0px 7px 29px 0px;
    }
}

.card-2 {
    background-color: var(--surface-card);
    padding: 1.5rem 1.5rem;
    border-radius: var(--border-radius-2);
    border: 1px solid var(--surface-border);
    box-shadow: var(--box-shadow) 0px 7px 29px 0px;
    transition: box-shadow 0.2s ease;

    &:last-child {
        margin-bottom: 1rem;
    }

    &:hover {
        box-shadow: var(--box-shadow-a) 0px 7px 29px 0px;
    }
}

.d-modal-open {
    overflow: hidden;
}
